.cs_popup_innerr {
position: absolute;
border:1px solid #262626;
float: right;
width: 190px;
z-index: 890;
height: 350px;
font: normal 12px/normal Helvetica, Times New Roman;
color: black;
background-color:#EEEEEE;
}
.w200
{
	width:200px;
}
.w100
{
	width:100px;
}
.h30
{
	height:30px;
}
.top_menu{
/ margin:0 0px 0 39px;
display:block;
float:left;
font-size:12px;
}
.top_menu li{
list-style-type:none;
display:inline;
padding:0 12px;
float:left;
font-size:12px;
}
.top_menu a, #footer li a{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#BDBDBD;
text-decoration:none;
line-height:22px;
/ line-height:20px;
}
.top_menu a:visited{color:#BDBDBD}
.top_menu a:hover{color:#D9B24A}
.top_head{
	height:72px;
	background-color:#125b80;}
.top_headhead{ margin-left: auto;
  margin-right: auto;
	width:950px;
	padding-top:10px;}
.top_header1{height:66px;
	 background-color:#e0e5e8;}
	.ask1{ background-color:#f6f7f9;}
.top_header{
	margin-left: auto;
    margin-right: auto;
	 width:950px;
	 
	 background-color:#e0e5e8;}
.navigation{
	position:relative;
	float:right;}
 ul { 
	list-style:none;}

ul.nav{	
position: relative;
float:right;
display:inline;}

 .nav li {
	position:relative;
	padding-bottom:15px;
	padding-right:10px;
    float:left;
	height:40px;
	width:78px;
	font-family: 'Oswald', sans-serif;
	 font-size:15px;
 text-align:center;
	 				}

 .nav li a {
		
	 float:right;
		height:85px;
	 width:78px;
	 color:#000000;
	text-decoration:none;
 text-align:center;
 font-family: 'Oswald', sans-serif;
	}
 .nav li a:hover {
	background-image:url(/images/03.png);
}

.site_logo{
	position:relative;
	float:left;
	}
.text17{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;}
.sign{
	color:#09C;}
.social{
	position:relative;
	float:left;
	}
.site_form{
	position:relative;
	float:right;}
.soc{
	position:relative;
	padding-left:5px;}