<div class="top_head">
  <div class="top_headhead">
  <div class="site_logo"><img src="/images/logo.png" alt="img" /></div>

  <div class="site_form"><p class="text17">Have an account? <a class="sign" target="_blank" href="">Sign in</a>  or <a class="sign" target="_blank" href="">Sign up</a>&nbsp;&nbsp;<input type="text" class="colortext1" value="Enter Keyword" /></p></div></div>
</div><div class="top_header1">
<div class="top_header">

<div class="navigation">
<ul class="nav">
  <li><a href="index.html" class="active">Home</a></li>
  <li><a href="#">Women</a></li>
  <li><a href="#">Men</a></li>
  <li><a href="#">Sale</a></li>
  <li><a href="#">Designers</a></li>
  <li><a href="#">Offers</a></li>
  <li><a href="#">Sports</a></li>
  <li><a href="#">Contacts</a></li></div></div>
<div id="header" class="container_bg">
    <div class="container">
   <!-- <div id="login-bar">-->
<!--<ul id="nav-bar">
  <li>24 Hour Support</li>
  <%= hook :shared_login_bar %>
  <% if store_menu? %>
    <%= render 'shared/store_menu' %>
  <% end %>
  <br />
  <li><%= render 'shared/search' %></li>
</ul>-->
<ul class="top_menu">
  
</ul>
</div></div></div>